<div class="m-3 formUK">


    <form (ngSubmit)="buscarSolicitudEstado(c)" #c="ngForm">
        <div class="container w-50">
            <div class="input-group mb-3">
                <select [(ngModel)]="idEstado" name="idEstado" type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <option *ngFor="let item of estados" value={{item.estadoId}}><strong>{{item.nombreEstado}}</strong></option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Buscar</button>
                </div>
            </div>
        </div>
        <h3>CONSULTA DE ESTADOS </h3>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th *ngFor="let title of titles" scope="col">{{title}}</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let item of segmento">
                    <th scope="row">{{item.usuario}}</th>
                    <td>{{item.soliFecha|date:'shortDate'}}</td>
                    <td>{{item.soliConsecutivo}}</td>
                    <td>{{item.contNumeroIdentificacion}}</td>
                    <td>{{item.contNombre}}</td>
                    <td>{{item.nombreSolicitud}}</td>
                    <td>{{item.nombreCausal}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Third group">
                            <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#exampleModalCenter" (click)="abrirSolicitud(item.soliConsecutivo)"><img src="../../../assets/img/pen.jpg" alt="Editar" height="32" width="32"></button>
                        </div>
                    </td>
                </tr>


            </tbody>
        </table>
        <h4 *ngIf="lector" class="m-3">Mostrando {{mostrando}} de {{totalSolicitudes}} ...
            <button *ngIf="btnBack" type="button" class="btn m-1" data-toggle="modal" data-target="#exampleModalCenter" (click)="retroceder()"><img src="../../../assets/img/left-arrow.png" alt="Retreceder" height="32" width="32"></button>
            <button *ngIf="btnUp" type="button" class="btn m-1" data-toggle="modal" data-target="#exampleModalCenter" (click)="avanzar()"><img src="../../../assets/img/right-arrow.png" alt="Avanzar" height="32" width="32"></button>
        </h4>
    </form>
    <div class="col-3">
        <a type="button" (click)="downloadSolicitudesEst()">Download Reporte</a>
    </div>

</div>


<div *ngIf="this.solicitud" id="solicitud2" class="p-1 ">
    <app-solicitudes [solicitudId]="solicitudId"></app-solicitudes>

    <div id="btnCerrarSolicitud">
        <div class="btn-group ml-3 mt-3 mb-0 " role="group" aria-label="Third group">
            <button type="button" class="btn btn-outline-danger" (click)="cerrarSolicitud()">Cerrar Solicitud</button>
        </div>

    </div>

</div>