<div class="m-3 fadeIn animated">

    <hr>
    <form (ngSubmit)="causalUp(h)" #h="ngForm">

        <div id="users">
            <div class="row">
                <div class="col-12">
                    <h3>Causales</h3>
                </div>

            </div>
            <div class="row p-1">
                <div class="col-2">
                    <div class="form-group">
                        <label for="causalId">Consecutivo :</label>
                        <input type="text" class="form-control" id="causalId" [(ngModel)]="causal.causalId" name="causalId" (blur)="BuscarCausal(causal.causalId)">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="nombreCausal">Descripción Causal :</label>
                        <input type="text" class="form-control" id="nombreCausal" [(ngModel)]="causal.nombreCausal" name="nombreCausal" required>
                        <small *ngIf="h.submitted && h.controls['nombreCausal'].errors" id="emailHelp" class="form-text text-danger animated fadeIn">**ingresa Nombre Cargo</small>
                    </div>
                </div>
                <div class="col-2 mt-4 p-2">

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch3" [(ngModel)]="causal.estadoCausal" name="estadoCausal" (click)="CambioNombre(!causal.estadoCausal)">
                        <label class="custom-control-label" for="customSwitch3">{{nombreEstadoCausal}}</label>
                    </div>

                </div>
                <div class="col-1 mt-4 pt-2">
                    <div *ngIf="activated" class="btn-group mybtn" role="group" aria-label="Third group">
                        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Save</button>
                    </div>
                    <div *ngIf="!activated" class="btn-group mybtn" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter" (click)="ActualizarCausal(h)">Update</button>
                    </div>
                </div>
            </div>
            <div class="row pl-1">
                <div class="col-3">
                    <a type="button" (click)="downloadCausales()">Download Listado Causales</a>
                </div>
            </div>

        </div>
    </form>
    <hr>
</div>